body {
  background: #233334;
}

.item {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}
.item:not(.parallax) {
  border: 1px #68f solid;
}
.item.parallax {
  background: #68f4;
}
.item.special {
  background: blue;
}

.item-container {
  position: relative;
  width: 100%;
  height: 120px;
    
  background: #0004;
  border-radius: 12px;
}

.test-circle {
  position: absolute;
  transform: translate(-50%, -50%);
  
  border: 1px #f00 solid;
  border-radius: 100%;

  height: 20px;
  width: 20px;

  top: unset; bottom: unset;
}

.cursor {
  position: absolute;
  transform: translate(-50%, -50%);
  
  border: 2px #fff solid;
  border-radius: 100%;

  height: 40px;
  width: 40px;

  top: unset; bottom: unset;

}